In [1]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
import acquire
import prepare

In [2]:
import pandas as pd
import numpy as np

In [4]:
acquire.get_titanic_data

In [11]:
data = pd.read_csv('titanic.csv', index_col=0)
data.set_index(['passenger_id']).head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
passenger_id,,,,,,,,,,,,
0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [40]:
def train_test_validate2(df, test_size=(0.2, 0.3), random_state=123): 
    train, test = train_test_split(df, test_size=test_size[0], random_state=random_state) 
    train, validate = train_test_split(train, test_size=test_size[1], random_state=random_state) 
    return train, validate, test

In [ ]:
validate.shape  #test for train & test

In [41]:
train, validate, test = prepare.train_test_validate2(subset_df)

In [43]:
train.head()

      age      fare  pclass  survived
689  15.0  211.3375       1         1
84   17.0   10.5000       2         1
738   NaN    7.8958       3         0
441  20.0    9.5000       3         0
643   NaN   56.4958       3         1

In [117]:
train.reset_index(drop=True, inplace=True)

In [115]:
from sklearn.model_selection import train_test_split

In [126]:
def train_test_validate2(df, test_size=(0.2, 0.3), random_state=123): 
    train, test = train_test_split(df, test_size=test_size[0], random_state=random_state) 
    train, validate = train_test_split(train, test_size=test_size[1], random_state=random_state) 
    return train, validate, test

In [127]:
train, validate, test = train_test_validate2(subset_df)

In [ ]:
#validate df

X = validate.drop(['survived'], axis=1)
y = validate['survived']

#split data
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [130]:
#validate df

X = train.drop(['survived'], axis=1)
y = train['survived']

#split data
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [119]:
subset_df = data2[['age', 'fare', 'pclass', 'survived']]

In [31]:
# Identify the majority class
# alt method: majority_class = df['target'].mode()[0]
major_class = subset_df.survived.mode()[0]

# Calculate the baseline percentage
baseline_percentage = subset_df['survived'].value_counts(normalize=True).get(major_class, 0) * 100

# Create a baseline prediction column with the majority class
subset_df['baseline_prediction'] = major_class

# Display the baseline percentage and the DataFrame with baseline prediction
print(f"Baseline Percentage: {baseline_percentage:.2f}%")
#print(subset_df)

Baseline Percentage: 61.62%

/var/folders/p_/0z9srqwn3g11vvrv0s9wcxs40000gn/T/ipykernel_1564/2120035221.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset_df['baseline_prediction'] = major_class

In [120]:
subset_df.head()

    age     fare  pclass  survived
0  22.0   7.2500       3         0
1  38.0  71.2833       1         1
2  26.0   7.9250       3         1
3  35.0  53.1000       1         1
4  35.0   8.0500       3         0

In [35]:
subset_df = subset_df.iloc[:, :-1]

In [37]:
subset_df.head()

    age     fare  pclass  survived
0  22.0   7.2500       3         0
1  38.0  71.2833       1         1
2  26.0   7.9250       3         1
3  35.0  53.1000       1         1
4  35.0   8.0500       3         0

In [38]:
from sklearn.linear_model import LogisticRegression

In [39]:
lgr = LogisticRegression()

In [136]:
lgr.fit(X_train, y_train)

LogisticRegression()

In [139]:
lgr.score(X_test, y_test) #Yes this model performs better than the baseline which was 
                        #61.62

0.72

In [140]:
lgr.get_params()

{'C': 1.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'l1_ratio': None,
 'max_iter': 100,
 'multi_class': 'auto',
 'n_jobs': None,
 'penalty': 'l2',
 'random_state': None,
 'solver': 'lbfgs',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

In [141]:
lgr2 = LogisticRegression(max_iter=50)

In [142]:
lgr3 = LogisticRegression(max_iter=125, C=2.0, solver='newton-cg')

lgr4 = LogisticRegression(max_iter=75, C=1.5)

lgr5 = LogisticRegression(max_iter=105, C=1.0,)

In [152]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

def evaluate_models(models, X_train, y_train, X_test, y_test):
    for model in models:
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        accuracy = accuracy_score(y_test, y_pred)
        print(f"Model: {model}, Accuracy: {accuracy:.3f}")
        #print(f"Model: {type(model).__name__}, Accuracy: {accuracy:.3f}")

# Assuming you have your data and targets (X_train, X_test, y_train, y_test)
# Replace this with your actual data splitting and variable names


# Your logistic regression models
lgr3 = LogisticRegression(max_iter=125, C=2.0, solver='newton-cg')
lgr4 = LogisticRegression(max_iter=75, C=1.5)
lgr5 = LogisticRegression(max_iter=105, C=1.0)

# List of your models
models = [lgr2, lgr3, lgr4, lgr5]

In [153]:
# Evaluate models
evaluate_models(models, X_train, y_train, X_test, y_test)

Model: LogisticRegression(max_iter=50), Accuracy: 0.720
Model: LogisticRegression(C=2.0, max_iter=125, solver='newton-cg'), Accuracy: 0.720
Model: LogisticRegression(C=1.5, max_iter=75), Accuracy: 0.720
Model: LogisticRegression(max_iter=105), Accuracy: 0.720

In [146]:
lgr3.fit(X_train, y_train)

LogisticRegression(C=2.0, max_iter=125, solver='newton-cg')

In [147]:
lgr3.score(X_test, y_test)

0.72