In [1]:
import pandas as pd

In [ ]:
# 2. Given the following confusion matrix, evaluate (by hand) the model's performance.

TP = 46
TN = 34
FP = 7
FN = 13

In [ ]:
# 3.

In [165]:
c3_data = pd.read_csv('c3.csv')
c3_data.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [166]:
c3_data.model2.value_counts()

No Defect    110
Defect        90
Name: model2, dtype: int64

In [167]:
c3_data.model1.value_counts()

No Defect    190
Defect        10
Name: model1, dtype: int64

In [168]:
c3_data.model3.value_counts()

No Defect    101
Defect        99
Name: model3, dtype: int64

In [213]:
c3_data['baseline'] = c3_data.actual.value_counts().index[0]
baseline = pd.crosstab(c3_data['baseline'], c3_data.actual)
baseline

actual     Defect  No Defect
baseline
No Defect      16        184

In [180]:
label_names = c3_data.model3.unique()
labbel_names

array(['No Defect', 'Defect'], dtype=object)

In [182]:
defect_report = classification_report(c3_data.actual, c3_data.model1, target_names=label_names,
                                     output_dict=True)

pd.DataFrame(defect_report)

           No Defect      Defect  accuracy   macro avg  weighted avg
precision   0.800000    0.957895      0.95    0.878947      0.945263
recall      0.500000    0.989130      0.95    0.744565      0.950000
f1-score    0.615385    0.973262      0.95    0.794323      0.944632
support    16.000000  184.000000      0.95  200.000000    200.000000

In [197]:
accuracy_score(c3_data.actual, c3_data.model1)

0.95

In [199]:
positive = 'Defect'
subset = c3_data[c3_data.actual == 'Defect']
#subset

model_recall = (subset.actual == subset.model1).mean()
model_recall

0.5

In [214]:
#Mode1 precision

precision_score(c3_data.actual, c3_data.model1, pos_label='Defect')

0.8

In [215]:
precision_score(c3_data.actual, c3_data.model1, pos_label='No Defect')

0.9578947368421052

In [221]:
c3_data.head()

      actual     model1  model2     model3   baseline
0  No Defect  No Defect  Defect  No Defect  No Defect
1  No Defect  No Defect  Defect     Defect  No Defect
2  No Defect  No Defect  Defect  No Defect  No Defect
3  No Defect     Defect  Defect     Defect  No Defect
4  No Defect  No Defect  Defect  No Defect  No Defect

In [235]:
#Model2

defect_report = classification_report(c3_data.actual, c3_data.model2, target_names=label_names,
                                     output_dict=True)

pd.DataFrame(defect_report)

           No Defect      Defect  accuracy   macro avg  weighted avg
precision   0.100000    0.936364      0.56    0.518182      0.869455
recall      0.562500    0.559783      0.56    0.561141      0.560000
f1-score    0.169811    0.700680      0.56    0.435246      0.658211
support    16.000000  184.000000      0.56  200.000000    200.000000

In [238]:
#Loop through all models to get precision score

from sklearn.metrics import precision_score

model_list = ['model1', 'model2', 'model3', 'baseline']
Defect = []
No_Defect = []

for model in model_list:
    defect_score = precision_score(c3_data.actual, c3_data[model], pos_label="Defect", zero_division=1)
    Defect.append(defect_score)
    non_defect_score = precision_score(c3_data.actual, c3_data[model], pos_label="No Defect", zero_division=1)
    No_Defect.append(non_defect_score)

In [236]:
print(Defect)

print(No_Defect)

[0.8, 0.1, 0.13131313131313133, 1.0]
[0.9578947368421052, 0.9363636363636364, 0.9702970297029703, 0.92]

In [ ]:
# 4 & 5.

In [32]:
data = pd.read_csv('gives_you_paws.csv')
data.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [33]:
data.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [43]:
data['pred'] = data.actual.value_counts().index[0]
#data['pred']

In [44]:
baseline = pd.crosstab(data.pred, data.actual)

In [45]:
baseline

actual   cat   dog
pred
dog     1746  3254

In [51]:
model_1 = pd.crosstab(data.model1, data.actual)
model_2 = pd.crosstab(data.model2, data.actual)
model_3 = pd.crosstab(data.model3, data.actual)
model_4 = pd.crosstab(data.model4, data.actual)

In [48]:
data.model1.value_counts()

dog    2937
cat    2063
Name: model1, dtype: int64

In [49]:
data.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [50]:
data.head()

  actual model1 model2 model3 model4 baseline pred
0    cat    cat    dog    cat    dog      dog  dog
1    dog    dog    cat    cat    dog      dog  dog
2    dog    cat    cat    cat    dog      dog  dog
3    dog    dog    dog    cat    dog      dog  dog
4    cat    cat    cat    dog    dog      dog  dog

In [58]:
models = [model_1, model_2, model_3, model_4]

for i in models:
    print(pd.DataFrame(i))

actual   cat   dog
model1
cat     1423   640
dog      323  2614
actual   cat   dog
model2
cat     1555  1657
dog      191  1597
actual  cat   dog
model3
cat     893  1599
dog     853  1655
actual   cat   dog
model4
cat      603   144
dog     1143  3110

In [ ]:
#pairs = [(my_list[i], my_list[j]) for i in range(len(my_list)) for j in range(i+1, len(my_list))]

In [60]:
models_list = data.loc[:, "model1":"baseline"].columns.tolist()
#Alt method: models_list = [model_1, model_2, model_3, model_4, 'baseline']

models_list

['model1', 'model2', 'model3', 'model4', 'baseline']

In [83]:
#In terms of accuracy, how do the various models compare to the baseline model? 

output = []
for i in models_list:
    
    output.append({
        "model": i,
        "accuracy": (data[i] == data.actual).mean(),
    })

#ignore_index = True will reset the index of the output
metrics = pd.DataFrame(output)
metrics = metrics.sort_values(by="accuracy", ascending=False, ignore_index=True)
metrics

      model  accuracy
0    model1    0.8074
1    model4    0.7426
2  baseline    0.6508
3    model2    0.6304
4    model3    0.5096

In [129]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, precision_score, recall_score

In [103]:
dep_name = data.actual.unique()
dep_name

array(['cat', 'dog'], dtype=object)

In [121]:
print('Model2_class_report')
Model2_report = classification_report(data.actual, data.model2, output_dict=True)
pd.DataFrame(Model2_report)

Model2_class_report

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.484122     0.893177    0.6304     0.688649      0.750335
recall        0.890607     0.490781    0.6304     0.690694      0.630400
f1-score      0.627269     0.633479    0.6304     0.630374      0.631310
support    1746.000000  3254.000000    0.6304  5000.000000   5000.000000

In [109]:
pd.crosstab(data.actual, data.model1)

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [107]:
data.head()

  actual model1 model2 model3 model4 baseline pred
0    cat    cat    dog    cat    dog      dog  dog
1    dog    dog    cat    cat    dog      dog  dog
2    dog    cat    cat    cat    dog      dog  dog
3    dog    dog    dog    cat    dog      dog  dog
4    cat    cat    cat    dog    dog      dog  dog

In [149]:
print('Model3_class_report')
Model3_report = classification_report(data.actual, data.model3, output_dict=True)
pd.DataFrame(Model3_report)

Model3_class_report

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.358347     0.659888    0.5096     0.509118      0.554590
recall        0.511455     0.508605    0.5096     0.510030      0.509600
f1-score      0.421425     0.574453    0.5096     0.497939      0.521016
support    1746.000000  3254.000000    0.5096  5000.000000   5000.000000

In [151]:
accuracy_score(data.actual, data.model3)
precision_score(data.actual, data.model3, pos_label='cat')
precision_score(data.actual, data.model3, pos_label='dog')

0.6598883572567783

In [139]:
data.actual.unique()
data.model3.unique()

array(['cat', 'dog'], dtype=object)

In [153]:
print('Model4_class_report')
Model4_report = classification_report(data.actual, data.model4, output_dict=True)
pd.DataFrame(Model4_report)

Model4_class_report

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.807229     0.731249    0.7426     0.769239      0.757781
recall        0.345361     0.955747    0.7426     0.650554      0.742600
f1-score      0.483755     0.828560    0.7426     0.656157      0.708154
support    1746.000000  3254.000000    0.7426  5000.000000   5000.000000

In [154]:
accuracy_score(data.actual, data.model4)
precision_score(data.actual, data.model4, pos_label='cat')
precision_score(data.actual, data.model4, pos_label='dog')

0.7312485304490948

In [162]:
recall_score(data.actual, data.model4, pos_label='dog'),

(0.9557467732022127,)

In [161]:
recall_score(data.actual, data.model4, pos_label='cat')

0.34536082474226804