In [1]:
import acquire
import os

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [7]:
clf = RandomForestClassifier(min_samples_leaf=1, max_depth=10)

In [61]:
df_titan = pd.read_csv('titanic.csv', index_col=0)
df_titan
df_titan = df_titan.set_index(['passenger_id'], drop=True)
#df_titan.reset_index(drop=True)
df_titan

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
passenger_id,,,,,,,,,,,,
0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [77]:
X = df_join.drop('survived', axis=1)
y = df_join['survived']

In [62]:
df_titan.select_dtypes(include="O").columns

Index(['sex', 'embarked', 'class', 'deck', 'embark_town'], dtype='object')

In [63]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()

In [64]:
#Encode and make Dataframe"

#df_telco.select_dtypes(include='O').columns


#Transform objects and strings into categorey
for label, content in df_titan.items():
    if not pd.api.types.is_numeric_dtype(content):
        df_titan[label] = pd.Categorical(content)
        
#df_telco.dtypes 
#df_telco.select_dtypes(include='category').columns

# Encoding data using OneHotEncoder
labels = ['sex', 'embarked', 'class', 'deck', 'embark_town']  
categorical_data = df_titan[labels]  
ohe = OneHotEncoder(categories='auto')  
feature_arr = ohe .fit_transform(categorical_data).toarray()  
ohe_labels = ohe.get_feature_names_out(labels)  
features = pd.DataFrame(feature_arr,columns=ohe_labels)

In [65]:
features.head()

,sex_female,sex_male,embarked_C,embarked_Q,embarked_S,embarked_nan,class_First,class_Second,class_Third,deck_A,...,deck_C,deck_D,deck_E,deck_F,deck_G,deck_nan,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton,embark_town_nan
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [66]:
df_join = df_titan.join(features)
df_join.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,...,deck_C,deck_D,deck_E,deck_F,deck_G,deck_nan,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton,embark_town_nan
passenger_id,,,,,,,,,,,,,,,,,,,,,
0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1,1,female,38.0,1,0,71.2833,C,First,C,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1,1,female,35.0,1,0,53.1000,S,First,C,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [69]:
df_join = df_join.drop(['sex', 'embarked', 'class', 'deck', 'embark_town'], axis=1)

In [72]:
df_join.isna().sum()

survived                     0
pclass                       0
age                        177
sibsp                        0
parch                        0
fare                         0
alone                        0
sex_female                   0
sex_male                     0
embarked_C                   0
embarked_Q                   0
embarked_S                   0
embarked_nan                 0
class_First                  0
class_Second                 0
class_Third                  0
deck_A                       0
deck_B                       0
deck_C                       0
deck_D                       0
deck_E                       0
deck_F                       0
deck_G                       0
deck_nan                     0
embark_town_Cherbourg        0
embark_town_Queenstown       0
embark_town_Southampton      0
embark_town_nan              0
dtype: int64

In [73]:
df_join = df_join.dropna(subset=['age'])

In [52]:
#df_join.isna().sum()

In [55]:
#df_join.dtypes

In [78]:
X = df_join.drop('survived', axis=1)
y = df_join['survived']

In [75]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=123)

In [80]:
clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=10)

In [81]:
clf.score(X_test, y_test)

0.8220338983050848

In [82]:
y_pred = clf.predict(X_test)

In [83]:
from sklearn.metrics import classification_report, confusion_matrix

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.86      0.86      0.86       145
           1       0.77      0.77      0.77        91

    accuracy                           0.82       236
   macro avg       0.81      0.81      0.81       236
weighted avg       0.82      0.82      0.82       236

In [84]:
clf2 = RandomForestClassifier(n_estimators=150,min_samples_leaf=2, min_samples_split=2, max_depth=4)

In [85]:
clf2.fit(X_train, y_train)

RandomForestClassifier(max_depth=4, min_samples_leaf=2, n_estimators=150)

In [86]:
clf2.score(X_train, y_train), clf2.score(X_test, y_test)

(0.8410041841004184, 0.8177966101694916)

In [87]:
y_pred = clf2.predict(X_test)

In [88]:
confusion_matrix(y_test, y_pred)

array([[131,  14],
       [ 29,  62]])

In [89]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.90      0.86       145
           1       0.82      0.68      0.74        91

    accuracy                           0.82       236
   macro avg       0.82      0.79      0.80       236
weighted avg       0.82      0.82      0.81       236

## Decision Tree Exercises

In [91]:
dtc = DecisionTreeClassifier()

In [ ]:
Run through steps 2-4 using a different max_depth value.

Which model performs better on your in-sample data?

Which model performs best on your out-of-sample data, the validate set?

In [92]:
dtc.fit(X_train, y_train)

DecisionTreeClassifier()

In [97]:
round(dtc.score(X_test, y_test),3), round(dtc.score(X_train, y_train),3)

(0.763, 0.994)

In [98]:
y_pred2 = dtc.predict(X_test)

In [99]:
classification_report(y_test, y_pred2)
print(classification_report(y_test, y_pred2))

              precision    recall  f1-score   support

           0       0.80      0.81      0.81       145
           1       0.70      0.68      0.69        91

    accuracy                           0.76       236
   macro avg       0.75      0.75      0.75       236
weighted avg       0.76      0.76      0.76       236

In [102]:
dtc2 = DecisionTreeClassifier(max_depth=5)

In [103]:
dtc2.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=5)

In [104]:
round(dtc2.score(X_test, y_test),3), round(dtc2.score(X_train, y_train),3)

(0.814, 0.847)

In [105]:
dtc2_y_ped = dtc2.predict(X_test)

In [106]:
classification_report(y_test, dtc2_y_ped)
print(classification_report(y_test, dtc2_y_ped))

              precision    recall  f1-score   support

           0       0.84      0.86      0.85       145
           1       0.77      0.74      0.75        91

    accuracy                           0.81       236
   macro avg       0.80      0.80      0.80       236
weighted avg       0.81      0.81      0.81       236

#### The adjusted model with max_depth = 5 performs better